.jumbotron {
  padding-top: 128px;
  background-color: #141414;
  text-align: center;
}

.jumbo-name {
  color: white;
  text-align: center;
  margin-top: 24px;
}
.jumbo-desc {
  margin-top: 16px;
  color: white;
}
