.jumbotron {
  padding-top: 88px;
  background-color: white;
}

#about {
  padding-top: 80px;
  background-color: grey;
}

#skills {
  padding-top: 80px;
  background-color: white;
}

#projects {
  padding-top: 80px;
  background-color: grey;
}

#contact {
  padding-top: 80px;
  background-color: white;
}
